<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositorypath" value="..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/taieng/public/_packaging/dotnet-engssssss/nuget/v3/index.json" />
  </packageSources>	
</configuration>